#sankey-container {
	width: 900px;
	z-index: 10;
}
#sankey-chart {
	width: 100%;
	height: 100%;
}
.sankey-html-label {
	background-color: #333;
	border: 1px solid black;
	border-radius: 4px;
	padding: 1px;
	opacity: 0.5;
	font-size: 10px;
	color: white;
	width: min-content;
	text-align: center;
	transform: translateY(-50%);
}

.unselected {
	opacity: 0.4;
}

.dam-label-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	pointer-events: none;
}

.dam-name {
	text-align: center;
	top: 50%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-shadow: 0 0 8px white;
	font-weight: bold;
}

.end-node {
}

.link-node {
}
