body {
	margin: 0px;
}

.App {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: rgba(6, 6, 6, 0.87);
}

.overlay-charts {
	position: absolute;
	z-index: 10;
	pointer-events: none;
}

.overlay-chart {
	box-shadow: 0 0 20px black;
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(6, 6, 6, 0.87);
}
