.map-container {
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: 90vw; /* Responsive width */
	max-width: 90vw;
	min-width: 500px; /* Prevent shrinking too much */
	height: auto; /* Adjusted by SVG aspect ratio */
}
